img:hover{
  height: 400px;
  width: 500px;
  flex: 1 1 calc(50% - 20px);
}

img{
  height: 300px;
  width: 400px;
  transition: 1s;
  flex: 1 1 calc(50% - 20px);
}

.img{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

header {
  background: #111;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #1eff00;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

header p {
  margin: 5px 0 15px;
  color: #bbb;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

header a:hover {
  color: #e5ff00;
}

section {
  padding: 40px 20px;
  text-align: center;
  
}

section h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #1abbae;
}

.contact {
  text-align: center;
  padding: 40px 20px;
}

form {
  background: #1e1e1e;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

input{
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #2a2a2a;
  color: #fff;
}

textarea {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #2a2a2a;
  color: #fff;
}

button {
  background: #a6ff00;
  color: #000000;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #ebff33;
}

footer {
  background: linear-gradient(to right, rgb(25, 0, 255), rgb(9, 241, 183));
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
